<div *ngIf="errorLogin" class="alert alert-danger">Login et/ou Mot de passe invalides</div>
<form #f="ngForm" (ngSubmit)="submitHandler(f)">
    <label for="">Login</label>
    <input #loginInput="ngModel" required email type="text" ngModel name="email" class="form-control">
    
    <div *ngIf="loginInput.invalid && loginInput.touched" class="alert alert-danger">Veuillez saisir une adresse mail valide</div>
    
    <label for="">Mot de passe</label>
    <input type="text" class="form-control" ngModel name="password">
    <br>
    <div class="row">
        <div class="col-6 offset-3">
            <button *ngIf="!showSignUp" type="submit" class="btn btn-primary">Se connecter</button>
            <button *ngIf="showSignUp" type="submit" class="btn btn-info">S'inscrire</button>
            <button *ngIf="showSignUp" (click)="switchSignUpButton()" class="btn btn-warning">Switch to Login</button>
            <button *ngIf="!showSignUp" (click)="switchSignUpButton()" class="btn btn-success">Switch to Register</button>

        </div>
    </div>
    <!-- <div ngModelGroup="infos" #infos="ngModelGroup">
        <label for="langage">Langage préféré</label>
        <select [ngModel]="defaultLang" name="langage" id="langage" class="form-control">
            <option value=""></option>
            <option value="windev">Windev</option>
            <option value="js">javascript</option>
            <option value="php">php</option>
        </select>
    
        {{ defaultLang }}
        <br>
    
        <label for="">Commentaire</label>
        <textarea minlength="20" [(ngModel)]="myCommentaire" class="form-control" name="commentaire" cols="5" rows="3"></textarea>
        {{ myCommentaire }}
        <br>
        <div *ngIf="infos.invalid" class="alert alert-danger">Le nbre minimal de caractères est 20</div>

    </div>

    <label for="">Gestion d'erreurs</label>
    <input #exp="ngModel" ngModel name="exemple" required minlength="5" pattern="nidhal" type="text" class="form-control">
    <div *ngIf="exp.invalid" class="alert alert-danger">
        <p *ngIf="exp.errors['required']">Ce champ est required</p>
        <p *ngIf="exp.errors['minlength']">Le nbre minimal de caractères est 5</p>
        <p *ngIf="exp.errors['pattern']">Le pattern est "nidhal"</p>
    </div> -->


    <!-- <button (click)="resetHandler(f)" class="btn btn-danger">Reset</button>
    
    <button (click)="genratePwd(f)" class="btn btn-info">Generate Password</button>
    <button (click)="genratePwdII(f)" class="btn btn-dark">Generate Password II</button> -->

    <pre>
        {{ f.value | json}}
    </pre>
</form>


