<form [formGroup]="signUpForm" (ngSubmit)="submitHandler()">
    <label for="">Usename</label>
    <input type="text" class="form-control" formControlName="username">
    <label for="">Mail Address</label>
    <input type="text" class="form-control" formControlName="addrMail">

    <div *ngIf="signUpForm.get('addrMail').invalid && signUpForm.get('addrMail').dirty" class="alert alert-danger">Veuillez saisir une adresse mail valide</div>

    <div formArrayName="skills">
        <label for="">Skills</label>
        <button (click)="addSkill()" class="btn btn-info">+</button>
        <div class="form-group" *ngFor="let ctrl of formsSkills.controls">
            <input type="text" class="form-control" [formControl]="$any(ctrl)">
        </div>
    
        
    </div>

    <button type='submit' class="btn btn-primary">Submit</button>
</form>