<ol class="list-group">
    <app-item *ngFor="let cand of allCandidats" (eventToListe)="sendCandToCv($event)" [oneCandidat]="cand"></app-item>
    <!-- <app-item (eventToListe)="sendCandToCv($event)" [oneCandidat]="allCandidats[1]"></app-item>
    <app-item (eventToListe)="sendCandToCv($event)" [oneCandidat]="allCandidats[2]"></app-item> -->
</ol>
<!-- 
<button (click)="showCandidats()" class="btn btn-warning">Show Candidats From Liste</button> -->
<!-- 
<p appCustomDir>Emmanuel</p>
<p appCustomDir>Dimitri</p>
<p appCustomDir>Selim</p> -->




